
<div class = "container text-center jake-min-height">
<h1>All Creatures</h1>

<div class="row justify-content-end">
  <div class="col-sm-5 my-3">
    <%= form_with url: creatures_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control col-form-label",
            placeholder: "Type a name"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary  btn-blue" %>
      <%= link_to "Refresh", creatures_path, class: "btn btn-primary btn-blue ms-1" %>
    <% end %>

  </div>
</div>


<div class="d-flex flex-wrap justify-content-around">

<% @creatures.each do |creature| %>
  <div class="index-card card m-4 text-start">
    <div class="img-cont">
      <%= cl_image_tag creature.photo.key, width: 300, height: 300, class:"index-img" %>
    </div>
    <div class="card-text">
      <h2><%= creature.name %></h2>
      <h3><%= creature.planet_location %></h3>
      <p>£<%= creature.price %>0 per day</p>
      <%= link_to '', creature_path(creature), class: 'card-link'  %>
    </div>
  </div>
<% end %>
</div>
</div>
