<nav class="d-flex navbar-lewagon m-0">
  <p class="m-3"><i class="fa-solid fa-user-astronaut"></i></p>
  <div class="d-flex">
    <%= link_to "Add a new creature", new_creature_path, class:"m-3" %>
    <a href="#" class="m-3">Rent a creature</a>
    <a href="#" class="m-3">Your creatures</a>
    <a href="#" class="m-3">Your playtimes</a>
    <%= link_to "Log out", destroy_user_session_path, class: "m-3" %>
  </div>
</nav>


<div class = "container text-center">
<h1>All Creatures</h1>

<div class="d-flex flex-wrap justify-content-around">

<% @creatures.each do |creature| %>
  <div class="index-card card m-4 text-start">
    <div class="img-cont">
      <%= cl_image_tag creature.photo.key, width: 300, height: 300, class:"index-img" %>
    </div>
    <div class="card-text">
      <h2><%= creature.name %></h2>
      <h3><%= creature.planet_location %></h3>
      <%= creature.details %>
      <p>£<%= creature.price %>0 per day</p>
      <%= link_to '', creature_path(creature), class: 'card-link'  %>
    </div>
  </div>
<% end %>
</div>
</div>
