<nav class="d-flex navbar-lewagon m-0">
<p>logo</p>
<%= link_to "Add a new creature", new_creature_path %>
<p>Rent a creature</p>
<p>Your creatures</p>
<p>Your bookings</p>
</nav>


<div class="container">
<h1><%= @creature.name %></h1>

<%= cl_image_tag @creature.photo.key, height: 300, width: 400, crop: :fill %>
<p>Description</p>
<%= @creature.details %>
<%= @creature.price %>
<button type="button">Book me!</button>
</div>
