<div class= "container input-calendar">
  <h1>Book your playtime !</h1>

  <%= simple_form_for [@creature, @playtime] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class= "calendar">
    <%= f.input :start_date,
            as: :string,
            label: "Booking dates:",
            input_html: { data: { controller: "datepicker", alt_input: "true", mode: "range", inline: true, minDate: Date.today.strftime("%Y-%m-%d")} } %>
  </div>

  <div>
    <%= f.submit class: "btn btn-blue"%>
  </div>

  <% end %>

  <div>
    <%= link_to "Back to creatures", creatures_path, class:"link"%>
  </div>
</div>
