
<nav class="d-flex navbar-lewagon m-0">
  <div class="d-flex">
    <p class="m-3"><i class="fa-solid fa-user-astronaut"></i></p>
    <% if params[:controller] == "pages" then %>
      <%= link_to "Sign up", new_user_registration_path, class: "m-3"%>
      <%= link_to "Login", new_user_session_path, class: "m-3" %>
    <% end %>
    <% unless params[:controller] == "pages" then %>
    <% unless (params[:controller] == "creatures") && (params[:action] == "index") then %>
      <%= link_to "Back to creatures", creatures_path, class:"m-3" %>
    <% end %>
  </div>
  <div class="d-flex">
    <% unless (params[:controller] == "creatures") && (params[:action] == "new") then %>
      <%= link_to "Add a new creature", new_creature_path, class:"m-3" %>
    <% end %>
    <% unless (params[:action] == "owned") then %>
      <%= link_to "My creatures", owned_path, class:"m-3" %>
    <% end %>
    <% if (controller_name != "playtimes") && (request.method != "index") then %>
      <%= link_to "My playtimes", playtimes_path, class:"m-3" %>
    <% end %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>
  <% end %>
</nav>
