<!DOCTYPE html>
<html>
  <head>
    <title>CosmoCreatures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>

  <div class="home-container">

    <div class = container>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    <%= render "layouts/navbar" %>

  <%= yield %>

    <%# footer %>

    <footer class="d-flex text-center justify-content-center homepage-footer">
      <div class="foot-box-homepage p-3">
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <figcaption class="blue">Emma</figcaption>
      </div>
      <div class="foot-box p-3">
        <a href="https://github.com/chloesianharrison" class="m-2"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/chloesian-harrison1/" class="m-2"><i class="fa-brands fa-linkedin"></i></a>
        <figcaption class="blue">Chloe</figcaption>
      </div>
      <div class="foot-box-homepage p-3">
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <figcaption class="blue">Haris</figcaption>
      </div>
    </footer>
</div>
  </body>
</html>
