<!DOCTYPE html>
<html>
  <head>
    <title>CosmoCreatures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>

  <div class="home-container">

    <div class = container>

      <p class="notice m-0"><%= notice %></p>
      <p class="alert m-0"><%= alert %></p>

    </div>
    <%= render "layouts/navbar" %>

  <%= yield %>

    <%# footer %>

    <footer class="d-flex text-center justify-content-center ">
      <div class="foot-box p-3">
        <a href="https://github.com/emmafmx"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/emmafumeaux/" class="m-2"><i class="fa-brands fa-linkedin"></i></a>
        <figcaption >Emma</figcaption>
      </div>
      <div class="foot-box p-3">
        <a href="https://github.com/chloesianharrison" class="m-2"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/chloesian-harrison1/" class="m-2"><i class="fa-brands fa-linkedin"></i></a>
        <figcaption >Chloe</figcaption>
      </div>
      <div class="foot-box p-3">
        <a href="https://github.com/HY-005"><i class="fa-brands fa-github"></i></a>
        <a href="www.linkedin.com/in/haris-yousaf-h005" class="m-2"><i class="fa-brands fa-linkedin"></i></a>
        <figcaption >Haris</figcaption>
      </div>
    </footer>
</div>
  </body>
</html>
